body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100%;
    max-width: 100%; /* Adjust as needed */
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #add-student-form{
    margin-top: 20px;
  }

  h1 {
    text-align: center;
    color: #333;
  }
  
  #assignment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #assignment-table th, #assignment-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #assignment-table th {
    background-color: #f2f2f2;
    text-align: left;
    color: #333;
  }
  
  #assignment-table td {
    color: #666;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }

  
  #search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
  }
  

  
  .date-filters input[type="date"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  button {
    padding: 8px 16px;
   
    border: none;
    background-color: #327cfc;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2072ff;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  
    .search-container {
      margin-bottom: 10px;
    }
  
    .date-filters {
      margin-bottom: 10px;
    }
  
    .date-filters input[type="date"] {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .add-student {
      margin-top: 10px;
    }
  
    button {
      width: 100%;
    }
  }
  
  .student-details-container {
    max-height: calc(100vh - 400px); /* Adjust as needed */
    overflow-y: auto;
  }


  /* CSS for start date input */
#start-date {
    padding: 8px 0.5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  /* CSS for end date input */
  #end-date {
    padding: 8px 0.5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .date-filters {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .date-filters label {
    margin-right: 10px;
  }
  
  .add-student {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .marks-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .marks-filter label {
    margin-right: 10px;
  }
  
  .marks-filter input[type="number"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  